{# Team picker grid. Rendered by /show_bb_logos, /show_bk_logos and /show_fb_logos with names=... and sport=... #}
{% set code = {'baseball': 'bb', 'basketball': 'bk', 'football': 'fb'}.get(sport, 'bb') %}
<div class="su-teamgrid">
  {% for name in names %}
    <input type="checkbox" class="su-teamcb" name="human_teams" id="team-{{ loop.index }}" value="{{ name }}">
    <label class="su-team" for="team-{{ loop.index }}" title="{{ name }}">
      <img src="https://filedn.com/limKzbrdG9qBWDCDLoyNoHF/files/Logos/fictional/{{ sport }}/{{ name }}_{{ code }}.png"
           alt="" loading="lazy" onerror="this.style.opacity='.25'">
      <span>{{ name }}</span>
    </label>
  {% endfor %}
</div>