{% extends "base.html" %}
{% block title %}Baseball Draft{% endblock %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='confirm.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='setup.css') }}">
  <style>
    body { background: #0b1220 url("{{ url_for('static', filename='base_back.jpg') }}") center center / cover no-repeat fixed; }
  </style>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='setup.js') }}"></script>
{% endblock %}

{% block body %}
  {% set cfg = {
    'sport': 'Baseball',
    'home': url_for('main.index'),
    'load': url_for('main.bb_load'),
    'delete': url_for('main.bb_delete'),
    'confirm': url_for('main.bb_confirm'),
    'logos': url_for('main.show_bb_logos'),
    'cap_presets': [75000000, 100000000, 125000000]
  } %}
  {% include "partials/setup_ui.html" %}
{% endblock %}