{% extends "base.html" %}
{% block title %}Baseball Draft{% endblock %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='confirm.css') }}">
  <style>
    body { background: #0b1220 url("{{ url_for('static', filename='base_back.jpg') }}") center center / cover no-repeat fixed; }
  </style>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='confirm.js') }}"></script>
{% endblock %}


{% block body %}
  {% set cfg = {
    'sport': 'Baseball',
    'home': url_for('main.start_baseball'),
    'confirm': url_for('main.bb_confirm'),
    'draft': url_for('main.bb_draft'),
    'logo_dir': 'baseball', 'logo_code': 'bb',
    'pos_field': 'short_pos',
    'groups': [
      {'code': 'C',  'title': 'Catchers',        'match': ['C'],  'mult': 2},
      {'code': '1B', 'title': 'First Basemen',   'match': ['1B'], 'mult': 2},
      {'code': '2B', 'title': 'Second Basemen',  'match': ['2B'], 'mult': 2},
      {'code': '3B', 'title': 'Third Basemen',   'match': ['3B'], 'mult': 2},
      {'code': 'SS', 'title': 'Shortstops',      'match': ['SS'], 'mult': 2},
      {'code': 'LF', 'title': 'Left Fielders',   'match': ['LF'], 'mult': 2},
      {'code': 'CF', 'title': 'Center Fielders', 'match': ['CF'], 'mult': 2},
      {'code': 'RF', 'title': 'Right Fielders',  'match': ['RF'], 'mult': 2},
      {'code': 'SP', 'title': 'Starting Pitchers', 'match': ['SP'], 'mult': 7},
      {'code': 'RP', 'title': 'Relief Pitchers',   'match': ['RP'], 'mult': 7},
    ]
  } %}
  {% include "partials/confirm_ui.html" %}
{% endblock %}



