{% extends "base.html" %}
{% block title %}Football Draft{% endblock %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='confirm.css') }}">
  <style>
    body { background: #0b1220 url("{{ url_for('static', filename='foot_back.jpg') }}") center center / cover no-repeat fixed; }
  </style>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='confirm.js') }}"></script>
{% endblock %}

{% block body %}
  {% set cfg = {
    'sport': 'Football',
    'home': url_for('main.start_football'),
    'confirm': url_for('main.fb_confirm'),
    'draft': url_for('main.fb_draft'),
    'logo_dir': 'football', 'logo_code': 'fb',
    'pos_field': 'short_pos',
    'groups': [
      {'code': 'QB', 'title': 'Quarterbacks',    'match': ['QB'], 'mult': 3},
      {'code': 'HB', 'title': 'Halfbacks',       'match': ['HB'], 'mult': 3},
      {'code': 'FB', 'title': 'Fullbacks',       'match': ['FB'], 'mult': 2},
      {'code': 'TE', 'title': 'Tight Ends',      'match': ['TE'], 'mult': 3},
      {'code': 'WR', 'title': 'Receivers',       'match': ['WR'], 'mult': 5},
      {'code': 'DO', 'title': 'Defense / OLine', 'match': ['DO'], 'mult': 2},
      {'code': 'KP', 'title': 'Special',         'match': ['KP'], 'mult': 2},
    ]
  } %}
  {% include "partials/confirm_ui.html" %}
{% endblock %}