{% extends "base.html" %}
{% block title %}Football Draft{% endblock %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='confirm.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='setup.css') }}">
  <style>
    body { background: #0b1220 url("{{ url_for('static', filename='foot_back.jpg') }}") center center / cover no-repeat fixed; }
  </style>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='setup.js') }}"></script>
{% endblock %}

{% block body %}
  {% set cfg = {
    'sport': 'Football',
    'home': url_for('main.index'),
    'load': url_for('main.fb_load'),
    'delete': url_for('main.fb_delete'),
    'confirm': url_for('main.fb_confirm'),
    'logos': url_for('main.show_fb_logos'),
    'cap_presets': []
  } %}
  {% include "partials/setup_ui.html" %}
{% endblock %}